@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
 }

 /* heading and logo */

 h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
 }

 #logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;


 }

 #menu {
    font-size: 110%;
    letter-spacing: 4px;
 }

 #menu, #logo {
    line-height: 75px;
 }
 #menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
 }

 #menu a {
    text-decoration: none;
    color: inherit;
 }

 #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: #4f4008;
 }

 .active {
    border-bottom: 1px solid #3a3a3a;
 }


 /* Hero Image */

 #cover-text, #cover-text h2 {
   color: #fff;

 }

 #hero-outer {
   height: 600px;
   width: 100%;
   overflow: hidden;
   position: relative;
  

}

 #hero-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/bodyguard-services-egypt\ copy.jpg) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
     
 
   
    
 }


 
 @keyframes hero-zoom {
   form{
      transform: scale(1); 
   }

   to {
      transform: scale(1.1);
   }
 }

 #cover-text {
   font-size: 100%;
   font-family: Oswald, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
   width: 250px;
   height: 200px;
   
   padding: 40px;
   padding-left: 10px;

   background-color: rgba(158, 126, 10, 0.473);
   bottom: 30px;
   right: 150px;
   position:absolute;
   
 }

 #cover-text :hover { background-color: #a7800156;


 }

 #cover-text > h2{
   font-weight: 500;
   font-size: 40px;
 }

 h3 {
   font-size: 17px;
   

 }

 /*Why Egypt*/

 #whyegy {
   height:600px;

 }

 #left-about {
   padding-top: 30px;
   width: 33%;
   float: left;
 }

 #right-about {
   padding-top: 30px;
   width: 33%;
   float: right;
 }

 #center-about {
   
   width: 33%;
   float: right;
 }

 hr {
   border-top: 1px solid #3a3a3a;
   width: 100%;
   margin: 5px 0;

 }
 
 .left-about-heading{
   width: 60%;
   float: right;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
 }

 .right-about-heading{
   width: 60%;
   float: left;
   line-height: 20px;
   clear: both;
   margin-bottom: 50px;
 }

 .right-about-heading h2 {
   text-align: right;
 }


.right-about-heading p {
   text-align: right;
    
}

.left-about-heading p {
   text-align: left;
    
}

#welcome {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
}

#circle-container {
   width: 300px;
   height: 300px;
   border-style: solid;
   border-color: #ccc;
   border-width: 1px;
   border-radius: 50%;
   margin: 0 auto;

}

#circle-cover-bg {
   background: url("../css/images/egyptian-ancient-symbol-religion-icon-egypt-deiteis-culture-design-element-vector.jpg") no-repeat center center;
   height: 100%;
   border-radius: 50%;

}



.locations  h1 {
   margin: 0 auto;
   text-align: center;
   margin-bottom: 30px;
   text-decoration: solid;
   border-bottom: 1px solid;
   border-color: #4f4008;
   cursor: pointer;
   margin-top: -2%;
    

 }

 .locations :hover {
   background-color: #4f4008;
   color: #fff;
 }


 
.places {

   margin-left: 5% ;
   display: flex;
   overflow: hidden;
   align-items: center;
    
}

.places :hover {
  transform: translate(10px);

}
 .card {
   width: 330px;
   height: 230px;
   display: inline-block;
   border-radius: 10px;
   padding: 15px 25px;
   cursor: pointer;
   margin: 10px 15px; 
   background-image: url(../css/images/ancient\ egypt.jpg);
   background-position: center;
   background-size: cover;
   position: relative;
   transition: transform 0.5s;
   
   

 }

 .card1 {
   width: 330px;
   height: 230px;
   display: inline-block;
   border-radius: 10px;
   padding: 15px 25px;
   cursor: pointer;
   margin: 10px 15px; 
   background-image: url(../css/images/coraux-mer-rouge.jpg);
   background-position: center;
   background-size: cover;
   position: relative;
   transition: transform 0.5s;

 }
 

 .card2 {
   width: 330px;
   height: 230px;
   display: inline-block;
   border-radius: 10px;
   padding: 15px 25px;
   cursor: pointer;
   margin: 10px 15px; 
   background-image: url(../css/images/nile\ cruise.jpeg);
   background-position: center;
   background-size: cover;
   position: relative;
   transition: transform 0.5s;
 }

 .card3 {
   width: 330px;
   height: 230px;
   display: inline-block;
   border-radius: 10px;
   padding: 15px 25px;
   cursor: pointer;
   margin: 10px 15px; 
   background-image: url(../css/images/Cairo11.webp);
   background-position: center;
   background-size: cover;
   position: relative;
    
 }

 .explore {
   font-family: Oswald, sans-serif;
   font-size: 15px;
   font-weight: bold;
   width: 50px;
   background: rgb(156, 134, 7);
   padding: 10px;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 0 10px;
    bottom: 10px;
    position: relative;
    
 }

  h5 {
   font-family: Oswald, sans-serif;
   font-size: 20px;
   font-weight: bold;
   text-decoration: none;

   text-transform: uppercase;
   color: rgb(248, 248, 248);
   float: right;
   position:relative;
  
 }

 footer {
  height: 150px;
 }

 .social-links {
  text-align: center;
 }

 .social-links > li {
  display: inline;

 }


 .social-links i {
  font-size: 200%;
  margin: 2%;
  padding: 5%;
  color: #3a3a3a;


}